div.content{
	display:table;
	margin: 0 auto;
	float: none;
	height:100%;


}

body, html{
	height: 100%;
	width:100%;
}

div.content div.row-fluid{
	margin-top:40px;
	height: 35px;
	vertical-align: middle;
}

div.content div.row-fluid div{

	height: 35px;
	overflow-y:visible;
}

div.content div.row-fluid>div>span{
	display: inline-block;
	margin-top:7px; 
	vertical-align: middle;
}

@media (min-width: 320px){
	div.content{
		width: 320px;
	}
	
	div.bgImage{
		background-image: url('../images/bg320x480.jpg');
		width: 320px;
		height: 480px;
		display: inline-block;
	}
}

@media (min-width: 768px){
	div.content{
		width: 768px;
	}

	div.bgImage{
		background-image: url('../images/bg768x1024.jpg');
		width: 768px;
		height: 1024px;
		display: inline-block;

	}

	div.content div.row-fluid div{
			border-right: 5px solid rgb(176, 62, 54);
			display:inline-block;
			position: relative;
	}

	div.content div.row-fluid div.col-md-2{
			top:-10px;
	}

	div.content div.row-fluid div.col-md-4{
			top:-5px;
	}

	div.content div.row-fluid div.col-md-4 span{
		margin-top:14px;

	}

	div.content div.row-fluid div.email{
		border-right: none;
		display: inline;
		position: absolute;
		top:30px;
		margin-left: 10px;
	}

	div.content div.row-fluid div.col-md-3{
		width: 202px;
	}

	div.content div.row-fluid div.col-md-2{
		width: 187px;
	}

	div.content div.row-fluid div.col-md-4{
		width: 359px;
	}
}

@media (min-width: 1027px){
	div.content{
		width: 1027px;
	}

	div.content div.row-fluid div{
			border-right: 5px solid rgb(176, 62, 54);
	}

	div.content div.row-fluid div.col-md-3{
		width: 231px;
	}

	div.content div.row-fluid div.col-md-2{
		width: 178px;
	}

	div.content div.row-fluid div.col-md-4{
		width: 354px;
	}

	div.bgImage{
		background-image: url('../images/bg.jpg');
		background-repeat: no-repeat;
		width: 1026px;
		height: 857px;
		overflow: hidden;
		padding: 0;
		margin: 0;
		vertical-align: middle;
		text-align: center;
	}
}
